// Override fonts. ////////////////////////////////////////////////////////////
body {
    font-family: "Lisu Bosa";
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Aref Ruqaa Ink";
}

.site-title {
    font-family: "Aref Ruqaa Ink";
    font-weight: normal;
}

.nav-list {
    font-family: "Lisu Bosa";
}

a {
    font-weight: bold;
}

.nav-list-link {
    font-weight: normal;
}

b, strong {
    // font-weight: 900;
    font-family: "Aref Ruqaa Ink";
}

// Override header settings. //////////////////////////////////////////////////
h1 {
    font-weight: bold;
}

h4,
.text-delta {
  @include fs-6;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
}

h5 {
    @include fs-4;
    font-weight: bold;
}

.note, .language, .exotic-language {
    h5 {
        margin-top: 0;
    }
}

// Override text sizes. ///////////////////////////////////////////////////////
blockquote {
    p,li {
        @include fs-4
    }
}

.nav-list-link {
    @include fs-5
}

p, li {
    @include fs-5
}

td {
    @include fs-4
}

.site-title {
    @include fs-10
}

.character-header {
    @include fs-6
}

// Override font colors. //////////////////////////////////////////////////////
p {
    strong {
        color: #49464d;
    }
}

// Override table settings. ///////////////////////////////////////////////////
.table-wrapper {
    @include fs-6
}