// custom SCSS (or CSS) goes here

// Override fonts.
body {
    font-family: "Lisu Bosa";
    // font-family: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
    // roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Aref Ruqaa Ink";
}

.site-title {
    font-family: "Aref Ruqaa Ink";
    font-weight: normal;
}

.nav-list {
    font-family: "Lisu Bosa";
}

a {
    font-weight: bold;
}

.nav-list-link {
    font-weight: normal;
}

// Override header 4 settings.
h1 {
    font-weight: bold;
}

h4,
.text-delta {
  @include fs-6;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
}

// Override text sizes.
blockquote {
    p,li {
        @include fs-4
    }
}

.nav-list-link {
    @include fs-5
}

p, li {
    @include fs-5
}

td {
    @include fs-4
}

.site-title {
    @include fs-10
}